<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">   
        <div class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div>
    </div>
    <div [class.blurred]="!showSpinner">
        <div class="navBarCss mb-3">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">{{code.substring(8) | uppercase}}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(1)"> Stream</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(2)"> Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(3)"> Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goToQuestions()">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goToPractice()">Practice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click) = "setView(4)">IDE</a>
                        </li>
                    </ul>
                    <button class="btn btn-danger mr-2" *ngIf="!test.startTest" (click)="startTest()">Start Test</button>
                    <button class="btn btn-warning mr-2" *ngIf="test.startTest && !test.revealMarks" (click)="revealMarks()">Publish Marks</button>
                    <button class="btn btn-info mr-2 my-sm-0" *ngIf="test.startTest" (click)="getLeaderBoard()" data-toggle="modal" data-target="#leaderboardModal"><i class="fa fa-trophy"></i> Leaderboard</button>
                    <button class="btn btn-info mr-2 my-sm-0" *ngIf="test.startTest && test.revealMarks" data-toggle="modal" data-target="#statsModal">Statistics</button>
                    <button class="btn btn-warning mr-2 my-sm-0" type="button" (click)="moveBack()"><i class="fa fa-home"></i> Home</button>
                    <button class="btn btn-danger my-sm-0" type="button" (click)="signOut()"><i class="fa fa-sign-out"></i> Sign Out</button>
                </div>
            </nav>
        </div>
        <div class="completeView py-3">
            <div class="mx-auto w-75 my-3">
                <div class="card shadow-lg">
                    <div class="card-header bg-secondary text-left text-white">
                        <h3>
                            {{testId}}
                        </h3>
                    </div>
                    <form [formGroup]="testForm">
                        <div class="card-body">
                            <div class="card my-3">
                                <div class="card-header bg-secondary text-center text-white">
                                    <h4>Title</h4>
                                </div>
                                <div class="card-body bg-light">
                                    <input type="text" class="form-control" formControlName="title">
                                </div>
                            </div>
                            <div class="card my-3">
                                <div class="card-header bg-secondary text-white text-center">
                                    <h4>Instructions</h4>
                                </div>
                                <div class="card-body">
                                    <quill-editor formControlName="instructions" class="bg-white">
                                    </quill-editor>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="card shadow my-3 text-center bg-light">
                                    <div class="card-header bg-secondary text-white">
                                        <h4>
                                            Groups
                                        </h4>
                                    </div>
                                    <ng-container formArrayName = "groups">
                                        <div *ngFor="let control of testForm.get('groups')['controls']; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column w-75 card shadow-sm py-3 my-2 mx-auto">
                                                <div>
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend bg-secondary text-white">
                                                            <span class="input-group-text bg-secondary text-white">{{control.get('groupId').value}}</span>
                                                        </div>
                                                        <input type="{{control.get('showPassword').value?'text':'password'}}" class="form-control" formControlName="password">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary" (click)="control.get('showPassword').value=!control.get('showPassword').value">
                                                                <i class='fa' [ngClass]="{'fa-eye':!control.get('showPassword').value,'fa-eye-slash':control.get('showPassword').value}"></i>
                                                                <!-- {{control.get('showPassword').value?'Hide':'Show'}} -->
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form-group w-75 mx-auto">
                                                        <div class="input-group mx-auto">
                                                            <div class="input-group-prepend bg-warningg">
                                                                <span class="input-group-text bg-warningg">Start Time</span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" formControlName="startTime" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group w-75 mx-auto">
                                                        <div class="input-group mx-auto">
                                                            <div class="input-group-prepend bg-warningg">
                                                                <span class="input-group-text bg-warningg">End Time</span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" formControlName="endTime" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="bg-light">
                                <div class="card shadow my-3 text-center" *ngIf="testForm.get('mcq').value.length > 0">
                                    <div class="card-header bg-secondary text-white text-center">
                                        <h4>Multiple Choice Questions</h4>
                                    </div>
                                    <div class="bg-light">
                                        <ng-container formArrayName = "mcq">
                                            <div class="card w-75 shadow-sm mx-auto py-3 my-2 " *ngFor="let control of testForm.get('mcq')['controls']; index as i">
                                              <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                                  <div class="d-flex flex-column">
                                                    <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                        <div></div>
                                                        <div [innerHtml]="control.get('questionContent').value"></div>
                                                        <div>
                                                            <button type="button" class="close" aria-label="Close" (click)="removeMCQ(i)">
                                                             <span aria-hidden="true">&times;</span>
                                                           </button>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row w-50 mx-auto">
                                                        <div class="input-group mb-3 w-75 mx-auto">
                                                            <div class="input-group-prepend bg-successs">
                                                                <span class="input-group-text bg-successs">Marks</span>
                                                            </div>
                                                            <input type="number" class="form-control" formControlName="marks">
                                                        </div>
                                                    </div>
                                                </div>
                                              </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card shadow my-3 text-center bg-light" *ngIf="testForm.get('trueFalse').value.length > 0">
                                    <div class="card-header text-center bg-secondary text-white">
                                        <h4>True False Questions</h4>
                                    </div>
                                    <div class="bg-light">
                                        <ng-container formArrayName = "trueFalse">
                                            <div class="card w-75 shadow-sm mx-auto py-3 my-2" *ngFor="let control of testForm.get('trueFalse')['controls']; index as i">
                                              <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                                  <div class="d-flex flex-column">
                                                    <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                        <div></div>
                                                       <div [innerHtml]="control.get('questionContent').value"></div>
                                                       <div>
                                                           <button type="button" class="close" aria-label="Close" (click)="removeTrueFalseQuestion(i)">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                       </div>
                                                    </div>
                                                    <div class="form-group row w-50 mx-auto">
                                                        <div class="input-group mb-3 w-75 mx-auto">
                                                            <div class="input-group-prepend bg-successs">
                                                                <span class="input-group-text bg-successs">Marks</span>
                                                            </div>
                                                            <input type="number" class="form-control" formControlName="marks">
                                                        </div>
                                                    </div>
                                                </div>
                                              </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light">
                                <div class="card shadow my-3 text-center bg-light" *ngIf="testForm.get('codingQuestion').value.length > 0">
                                    <div class="card-header text-center bg-secondary text-white">
                                        <h4>Coding Questions</h4>
                                    </div>
                                    <ng-container formArrayName = "codingQuestion">
                                        <div class="card w-75 shadow-sm mx-auto py-3 my-2" *ngFor="let control of testForm.get('codingQuestion')['controls']; index as i">
                                          <ng-container class="form-group mx-auto px-3" [formGroup]="control">
                                              <div class="d-flex flex-column">
                                                <div class="d-flex flex-row justify-content-between w-100 px-3">
                                                    <div></div>
                                                    <div [innerHtml]="control.get('title').value"></div>
                                                    <div>
                                                        <button type="button" class="close" aria-label="Close" (click)="removeCodingQuestion(i)">
                                                         <span aria-hidden="true">&times;</span>
                                                       </button>
                                                    </div>
                                                </div>
                                                <div class="form-group my-2 row w-50 mx-auto">
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <div class="input-group-prepend bg-successs">
                                                            <span class="input-group-text bg-successs">Marks</span>
                                                        </div>
                                                        <input type="number" class="form-control" formControlName="marks">
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="text-center card-footer bg-light">
                            <div>
                                <button class="btn btn-danger" *ngIf="!test.revealMarks" (click)="saveTest()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="statsModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center bg-light">
                        <div class="text-center">Statistics</div>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="text-center my-3">
                            <!-- Average Marks -->
                            <div class="card py-3">
                                <div class="input-group mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend bg-warning">
                                        <span class="input-group-text bg-warning text-dark">Average Marks</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{stats['avgMarks']}}" readonly>
                                </div>
                            </div>
                            <!-- Max Marks -->
                            <div class="card py-3">
                                <div class="input-group mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend bg-success">
                                        <span class="input-group-text bg-success text-white">Max Marks</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{stats['maxMarks']['marks']}}" readonly>
                                </div>
                                <div class="w-75 mx-auto">
                                    <div *ngFor="let stu of stats['maxMarks']['students']">
                                        <input type="text" class="form-control" value="{{stu['name']}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <!-- Min Marks -->
                            <div class="card py-3">
                                <div class="input-group mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend bg-danger">
                                        <span class="input-group-text bg-danger text-white">Min Marks</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{stats['minMarks']['marks']}}" readonly>
                                </div>
                                <div class="w-75 mx-auto">
                                    <div class="my-2" *ngFor="let stu of stats['minMarks']['students']">
                                        <input type="text" class="form-control" value="{{stu['name']}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around bg-light">
                        <div>
                            <button class="btn btn-link" (click)="navToStatistics()" data-dismiss="modal">
                                Detailed Statistics
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="leaderboardModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center bg-light px-auto h-100">
                        <div class="text-center">
                            <h3>
                                LeaderBoard
                            </h3>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                    </div>
                    <div class="modal-body text-center text-wrap">
                        <div *ngIf="fetchingLeaderboard">
                            <div class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="!fetchingLeaderboard">
                            <table class="table table-responsive w-100 table-dark table-striped table-hover">
                                <thead class="mx-auto">
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Marks</th>
                                    <th scope="col" *ngFor = "let mcq of leaderboardKeys.mcq">{{mcq}}</th>
                                    <th scope="col" *ngFor = "let mcq of leaderboardKeys.trueFalse">{{mcq}}</th>
                                    <th scope="col" *ngFor = "let mcq of leaderboardKeys.codingQuestion">{{mcq}}</th>
                                </tr>
                                </thead>
                                <tbody class="mx-auto">
                                <tr *ngFor="let entry of leaderboard; index as i">
                                    <th scope="row">{{ entry['rank'] }}</th>
                                    <td>{{ entry.name | titlecase }}</td>
                                    <td>{{ entry.email | lowercase }}</td>
                                    <td>{{ entry.marks | number }}</td>
                                    <td *ngFor = "let mcq of leaderboardKeys.mcq">{{entry[mcq]}}</td>
                                    <td *ngFor = "let mcq of leaderboardKeys.trueFalse">{{entry[mcq]}}</td>
                                    <td *ngFor = "let mcq of leaderboardKeys.codingQuestion">{{entry[mcq]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around bg-light">
                        <div>
                            <button type="button" class="btn btn-link" data-dismiss="modal" (click)="generateCSV()">Download CSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
