<p>
    <mat-toolbar class="black z-depth-3">
        <div style="width: 100%;">
            <a href="/" ><span class="white-text">Coding Platform</span></a>
        </div>
    </mat-toolbar>
</p>
<div class="overlay" *ngIf="showSpinner">   
    <div class="spinner-wrapper">
        <app-spinner></app-spinner>
    </div>
</div>
<div class="container" style="padding-bottom: 50px;">
    <div class="center">
        <h3>Code Editer</h3>
    </div>
    <div *ngIf="cantReachServer; else reachServer">
        <span class="font-weight-bold">Can't reach server :(, Try to refresh the page.. </span>
    </div>
    <ng-template #reachServer>
        <!-- languages select -->
        <div class="row" style="width: 100%;">
            <div class="col right-align">
                <mat-button-toggle-group>
                    <mat-button-toggle color="warn" *ngFor="let theme of supportedThemes" (click)="onChangeTheme(theme); activatedTheme=theme;">
                            <span>{{theme}}</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0;">
            <div class="col" style="display: flex;">
                <!--
                    <div class="input-group-prepend">
                    <label class="input-group-text" for="languages-select">Languages</label>
                </div>
                -->
                <mat-form-field appearance="fill" *ngIf="(languagesArray$ | async) as languages; else loadingLanguages;"> 
                    <select matNativeControl  class="languages-select"
                        id="languages-select" #languagesSelect (change)="onChangeLanguageMode($event)">
                        <option *ngFor="let language of languages; let i = index" value="{{i}}" [selected]="initEditorOptions.languageMode===language.lang">
                            {{language.name}} ({{language.version}})
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 60px; margin-left: 10px;">
                    <select id= "fontbox" matNativeControl (change)="changefont()">
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option selected="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                        <option value="26">26</option>
                    </select>
                </mat-form-field>
                <!-- loading message while waiting languagesArray$ -->
                <ng-template #loadingLanguages>
                    <span class="mx-2">Loading ...</span>
                </ng-template>
                <div>
                    <button type="button" mat-stroked-button style="margin-left: 15px;" (click)="onBeautifyContent()">
                        Beautify
                    </button>
                </div>
                <div>
                    <button type="button" mat-stroked-button style="margin-left: 15px;" (click)="onClearContent()">
                        <i class="fa fa-eraser"></i> Clear
                    </button>
                </div>
                
                     

            </div>
            <div class="col right-align">
                
                <button mat-stroked-button type="button" (click)="onClickDownload()">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
                <a download="code.txt" id="downloadlink" style="display: none">Download</a>
            </div>
        </div>
    </ng-template>
    <div class="row" style="margin: 0;">
        <div class="col">
            <div class="code-editor-header" #codeEditorHeader [hidden]="!this.codeHeaderPresent"></div>
        </div>
    </div>
    <!-- the code editor -->
    <div class="row" style="margin: 0; ">
        <div class="col">
            <div class="code-editor" #codeEditor></div>
        </div>
    </div>
    <!-- the code editor footer -->
    <div class="row" >
        <div class="col">
            <div class="code-editor-footer" #codeEditorFooter [hidden]="!this.codeFooterPresent"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-stroked-button class="js-fileapi-wrapper upload-btn" (click)="clickUploadButton()" >Upload</button>
            <input id="getFile" type="file" multiple="false"  accept=".txt,.cpp,.py,.java,.jar"style="display:none">   
        </div>
        <div class="col right-align">
            <div style="margin-right: 20px;">
                <button mat-stroked-button type="button" [ngClass]="{'cant-click' : cantReachServer}"
                    [disabled]="cantReachServer" (click)="onRunCode()" style="width: 100px;">
                    Run <i class="fa fa-play"></i>
                </button>
            </div>
            <div class="spinner-border" role="status" *ngIf="running">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="label-box border">
                <span class="mx-4 font-weight-light">Sample Input</span>
            </div>
            <textarea id="codeInput" class="form-control input" rows="5" 
            aria-label="input-textarea" #sampleInput></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="label-box border">
                <span class="mx-4 font-weight-light">Output</span>
            </div>
            <textarea class="form-control output" rows="5" 
            disabled="true" aria-label="output-textarea" 
            [value]="(output$ | async) || ''">
        </textarea>
        </div>
    </div>
</div>

